.img {
  width: 450px;
}

.search {
  padding: 150px 89px;
}

.tagline-home {
  font-size: 3rem;
  width: 380px;
  color: #2e266f;
  font-weight: 500;
  margin-bottom: 29px;
}

.input-hero {
  padding: 20px 50px;
  width: 500px;
  border: none;
  background-color: #efefef;
  border-radius: 10px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  outline: none;
}

.input-hero:focus {
  border: 1px solid #efc81a;
}

.wrapper-search {
  position: relative;
}
.ic-search {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
}

/* hero section */

.wrapper-img {
  margin-right: 80px;
  padding-top: 40px;
}

.wrapper-img::before {
  content: "";
  display: block;
  width: 400px;
  height: 800px;
  background-color: #efc81a;
  z-index: -99999;
  position: absolute;
  top: 0;
  right: 0;
}

.img {
  border: none;
  background-color: none;
}

/* sub hero section */
.popular-for-you {
  margin-top: 300px;
}

.sub-hero {
  margin-top: 90px;
  padding: 0 100px;
  gap: 250px;
  align-items: center;
  margin-bottom: 200px;
}

.sub-hero {
  position: relative;
}

.wrapperimg-sub::after {
  content: "";
  display: block;
  width: 470px;
  height: 460px;
  padding: 10px;
  border: 3px solid #efc81a;
  z-index: -999999;
  border-radius: 7px;
  position: absolute;
  top: 50px;
  left: 170px;
}

.tiang {
  width: 6px;
  height: 50px;
  background-color: #efc81a;
  margin-right: 20px;
}
.popular-tagline {
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.popular-tagline h2 {
  color: #3f3a3a;
}

.wrapperimg-new::after {
  content: "";
  display: block;
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: #efc81a;
  top: -40px;
  left: -50px;
  z-index: -99;
}

/* card grids */

.row {
  padding: 40px 100px;
  align-items: center;
}

.col {
  margin-bottom: 60px;
}
.my-card {
  position: relative;
}

.food-name {
  position: absolute;
  bottom: 0;
  margin: 0 20px;
  width: 103px;
  height: 80px;
}
.food-name-1 {
  position: absolute;
  bottom: 0;
  margin: 0 20px;
  width: 130px;
  height: 80px;
}

.food-name p {
  font-size: 1.2rem;
  line-height: 25px;
  font-weight: 500;
}
.food-name-1 p {
  font-size: 1.2rem;
  line-height: 25px;
  font-weight: 500;
}

/* footer */
.footer-container {
  background-color: #efc81a;
  margin-top: 120px;
  padding-bottom: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
}

.footer h1 {
  padding-top: 20px;
  text-align: center;
  font-size: 52px;
  width: 700px;
  font-weight: 400;
  color: #2e266f;
  margin-bottom: 21px;
}

.footer p {
  font-size: 15px;
  color: #707070;
}

.footer-nav {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  right: 10px;
  list-style: none;
}

.nav-list ul li a {
  color: #707070;
  font-size: 14px;
  text-decoration: none;
}

.nav-list ul .copyright {
  position: absolute;
  left: 500px;
  top: 2px;
}

/* responsive */
@media (max-width: 576px) {
  .img {
    width: 360px;
  }
  .container-fluid {
    overflow: hidden;
  }
  .profile::before {
    display: none;
  }

  .navbar-nav {
    font-size: 20px;
    background-color: #f1f0e8;
    padding-left: 40px;
    padding-top: 20px;
    margin-top: 3px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .navbar-nav a {
    margin-bottom: 16px;
    padding-left: 40px;
    color: #000;
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin-top: -70px;
  }

  .search h1 {
    width: 310px;
    font-size: 2.5rem;
  }

  .input-hero {
    width: 350px;
  }

  .wrapper-img {
    padding: 0;
    margin-left: 80px;
    margin-top: -100px;
  }

  .wrapper-img::before {
    display: none;
  }

  .popular-for-you {
    margin: 70px 0;
    padding: 0;
    width: 100%;
  }
  .popular-tagline {
    padding: 0 20px;
    margin: 0;
  }

  .sub-hero {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
  }

  .tiang {
    display: none;
  }

  .tagline-name {
    font-size: 2rem;
    padding-bottom: 10px;
    border-bottom: 3px solid darkred;
  }

  .wrapperimg-new::after {
    display: none;
  }
  .wrapperimg-sub::after {
    display: none;
  }

  .title {
    width: 100%;
    margin: 0 30px;
    padding: 30px 19px;
    background-color: #ffffdd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .title h1 {
    font-size: 25px;
  }

  .row {
    padding: 30px;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  .food-name {
    position: absolute;
    bottom: 0;
    margin: 0 40px;
    width: 103px;
    height: 80px;
  }
  .food-name-1 {
    position: absolute;
    bottom: 0;
    margin: 0 40px;
    width: 130px;
    height: 80px;
  }

  .footer h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }

  .footer p {
    font-size: 13px;
    margin-top: 0;
  }
  .nav-list ul {
    flex-wrap: wrap;
  }
  .nav-list ul li a {
    font-size: 14px;
  }

  .nav-list ul .copyright {
    position: static;
    margin-top: 19px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .navbar-toggler {
    display: none;
  }

  .my-nav.collapse {
    display: flex !important;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    margin-left: -60px;
  }

  .navbar-nav.gap-5 {
    order: 2; /* Mengubah urutan menu navbar */
    flex-direction: row;
    margin-left: 0px;
    gap: 60px;
    width: 330px;
    align-items: start;
    margin-right: 400px;
  }

  .navbar-nav.ms-auto {
    margin-top: 0;
    order: 1; /* Mengubah urutan profil */
  }

  .hero {
    margin: 0 30px;
    padding: 0;
    gap: 60px;
  }

  .search {
    margin: 0;
    padding: 0;
  }
  .wrapper-img::before {
    content: "";
    display: block;
    width: 200px;
    height: 500px;
    background-color: #efc81a;
    z-index: -99999;
    position: absolute;
    top: 0;
    right: 0;
  }
  .input-hero {
    width: 340px;
  }

  .img {
    width: 330px;
  }

  .search h1 {
    font-size: 2.4rem;
    width: 300px;
  }

  .popular-for-you {
    margin: 70px 0;
    padding: 0;
    width: 100%;
  }
  .popular-tagline {
    padding: 0 20px;
    margin: 0;
  }

  .sub-hero {
    padding: 0;
    gap: 70px;
    margin: 30px;
  }
  .wrapperimg-sub::after {
    display: none;
  }

  .title h1 {
    font-size: 2rem;
  }

  .wrapperimg-new::after {
    display: none;
  }
  .popular-grid {
    gap: 0;
    padding: 0;
  }

  .row {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dua kolom pada tampilan tablet */
    gap: 20px; /* Jarak antar kartu */
    padding: 0 50px;
    align-content: center;
  }
}
